<h3>Current reservations</h3>
<table class="table">
  <tr>
    <th>Table #</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>View</th>
    <th>Edit</th>
  </tr>

  <% if @reservations %>
    <% @reservations.each do |res| %>
    <tr>
      <td><%= res.table_number %></td>
      <td><%= res.start_time %></td>
      <td><%= res.end_time %></td>
      <td><%= link_to("View", reservation_path(res)) %></td>
      <td><%= link_to("Edit", edit_reservation_path(res)) %></td>
    </tr>
    <% end %>
  <% end %>
</table>
